* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #343b50;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  color: #3B3B3B;
  font-size: 3.625em;
  font-weight: 700;
  margin: 0;
}

h2 {
  color: #7F7F7F;
  font-size: 1.125em;
  font-weight: 300;
  margin: 0;
}

h2 span.active {
  color: #3993cd;
}

.card-container {
  background-color: #fff;
  border-radius: 5px;
  width: 42.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
